{% extends 'base.html.twig' %}

{% block title %}Modifier une marque{% endblock %}

{% block body %}
    <h1>Modifier une marque</h1>

    {{ include('marque/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a role="button" class="btn btn-info mb-2" href="{{ path('marque_index') }}">Retour à la liste</a>

    {{ include('marque/_delete_form.html.twig') }}
{% endblock %}
