{% extends 'base.html.twig' %}

{% block title %}Nouvelle marque{% endblock %}

{% block body %}
    <h1>Saisir une nouvelle marque</h1>

    {{ include('marque/_form.html.twig') }}

    <a role="button" class="btn btn-info mb-2" href="{{ path('marque_index') }}">Retour à la liste</a>
{% endblock %}
