{% extends 'base.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <h1>Modifier l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a role="button" class="btn btn-info mb-2" href="{{ path('article_index') }}">Retour à la liste</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
