{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1>Saisir un nouvel article</h1>

    {{ include('article/_form.html.twig') }}

    <a role="button" class="btn btn-info mb-2" href="{{ path('article_index') }}">Retour à la liste</a>
{% endblock %}
